<app-error [error]="error"></app-error>
<div class="bio_wrapper">
  <img [src]="avatar$ | async" />
  <div class="fields">
    <div>
      <h3>
        Followers:
      </h3>
      <div class="list">
        <a
        *ngFor="let followers of followers$ | async"
        [href]="followers.url"
        >
          <img [src]="followers.img" />
        </a>
      </div>
    </div>
    <div>
      <h3>
        Followings:
      </h3>
      <div class="list">
        <a
        *ngFor="let following of following$ | async"
        [href]="following.url"
        >
          <img [src]="following.img" />
        </a>
      </div>
    </div>
    <div>
      <h3>
        Repositories:
      </h3>
      <div class="list">
        <a
        *ngFor="let repo of repos$ | async"
        [href]="repo.url"
        >
          {{ repo.name }}
        </a>
      </div>
    </div>
  </div>
</div>
