:host {
  font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, Helvetica, Arial, sans-serif, "Apple Color Emoji", "Segoe UI Emoji", "Segoe UI Symbol";
  font-size: 14px;
  color: #333;
  box-sizing: border-box;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

h1,
h2,
h3,
h4,
h5,
h6 {
  margin: 0;
}

p {
  margin: 0;
}

.root {
  right: 0;
  left: 0;
  position: absolute;
  top: 0;
  margin: 0;
  padding: 0;
}

.toolbar {
  display: flex;
  align-items: center;
  height: 70px;
  background: #565656;

    h1 {
      color: wheat;
      margin: 0px 10px;
    }
}
